ClosestPair/Build/ClosestPointsTest/Debug/ClosestP.8056213D.tlog/cl.command.1.tlog
ClosestPair/Build/ClosestPointsTest/Debug/ClosestP.8056213D.tlog/CL.read.1.tlog
ClosestPair/Build/ClosestPointsTest/Debug/ClosestP.8056213D.tlog/CL.write.1.tlog
ClosestPair/Build/ClosestPointsTest/Debug/ClosestP.8056213D.tlog/ClosestPointsTest.lastbuildstate
ClosestPair/Build/ClosestPointsTest/Debug/ClosestP.8056213D.tlog/ClosestPointsTest.write.1u.tlog
ClosestPair/Build/ClosestPointsTest/Debug/ClosestP.8056213D.tlog/link.command.1.tlog
ClosestPair/Build/ClosestPointsTest/Debug/ClosestP.8056213D.tlog/link.read.1.tlog
ClosestPair/Build/ClosestPointsTest/Debug/ClosestP.8056213D.tlog/link.write.1.tlog
ClosestPair/Build/ClosestPointsTest/Debug/ClosestPointsTest.Build.CppClean.log
ClosestPair/Build/ClosestPointsTest/Debug/ClosestPointsTest.log
ClosestPair/Build/ClosestPointsTest/Debug/ClosestPointsTest.pch
ClosestPair/Build/PointsLibrary/Debug/ContentsParser.obj
ClosestPair/Build/PointsLibrary/Debug/FileReader.obj
ClosestPair/Build/PointsLibrary/Debug/Point.obj
ClosestPair/Build/PointsLibrary/Debug/PointsLibrary.Build.CppClean.log
ClosestPair/Build/PointsLibrary/Debug/PointsLibrary.log
ClosestPair/Build/PointsLibrary/Debug/PointsLibrary.pch
ClosestPair/Build/PointsLibrary/Debug/PointsLibrary.tlog/cl.command.1.tlog
ClosestPair/Build/PointsLibrary/Debug/PointsLibrary.tlog/CL.read.1.tlog
ClosestPair/Build/PointsLibrary/Debug/PointsLibrary.tlog/CL.write.1.tlog
ClosestPair/Build/PointsLibrary/Debug/PointsLibrary.tlog/lib.command.1.tlog
ClosestPair/Build/PointsLibrary/Debug/PointsLibrary.tlog/Lib-link.read.1.tlog
ClosestPair/Build/PointsLibrary/Debug/PointsLibrary.tlog/Lib-link.write.1.tlog
ClosestPair/Build/PointsLibrary/Debug/PointsLibrary.tlog/PointsLibrary.lastbuildstate
ClosestPair/Build/PointsLibrary/Debug/SpaceOfPoints.obj
ClosestPair/Build/PointsLibrary/Debug/stdafx.obj
ClosestPair/Build/PointsLibrary/Debug/vc120.idb
ClosestPair/Build/PointsLibrary/Debug/vc120.pdb
